--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers
transformers[torch]
datasets
google-cloud-storage
gcsfs
evaluate
scikit-learn
sentencepiece
mlflow
seaborn
fairlearn
pandas
scipy
numpy